.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 400px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-form h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Croissant One";
}

.logbtn {
  width: 100%;
  letter-spacing: 1px;
  height: 40px;
  border: none;
  background: #151b3d;
  color: #fff;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}
