@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}


.quotasubmenu {
  display: none;
  cursor: pointer;
  top: -3px;
  left: 100%;
  width: 200px;
  background-color: #1f3c88;
  position: absolute;
}
.hoverDropItem {
  color: #ffff !important;
  cursor: pointer;
  position: relative;
}

.hoverDropItem:hover {
  text-decoration: none;
  text-transform: uppercase;
  /* color: #ffff !important; */
  background: none;
  border: none;
  background-color: transparent !important;
}
.hoverDropItem:hover .quotasubmenu {
  display: block !important;

}

main {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header {
  display: flex;
  height: auto;
  align-items: center;
  padding: 15px 0;
  background: #f2f4f6;
  margin: 0;
  padding: 0 50px;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 100px;
  display: flex;
  align-items: center;
}
.logo h2 {
  padding: 0 5px;
  /* text-transform: capitalize; */
  font-size: 25px;
}

.img_div {
  width: 88px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://adu.uz/s/files/images/logoadu24.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_menu {
  font-size: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.navbar {
  height: auto;
  display: flex;
  align-items: center;
  background-color: #1f3c88;
  padding: 10px 170px 10px 100px!important;
  width: 105%;
  justify-content: space-between !important;
}
.nav_item{
  margin: 0 5px;
  text-transform: uppercase;
}
.nav_item2{
  margin: 0 0;
  text-transform: uppercase;
}

.menu_ul {
  margin: 0 ;
  padding: 0;
}
.menu_ul li {
  list-style: none;
  padding: 5px 0;
}

.menu_ul li a {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
}
.dropdown a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.dropdown a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff !important;
  background: none;
  border: none;
}
.dropdown ul {
  background-color: #1f3c88;
  border-radius: 0px !important;
  border: none;
  padding-bottom: 0;
  padding: 8px 10px 0 10px;
}
.dropdown-toggle {
  color: #fff !important;
}
.dropdown ul li a {
  color: #ffff;
  border-bottom: 1px solid #102558;
  transition: 0.2s ease;
}
.dropdown ul li a:hover {
  color: rgb(176, 179, 182) !important ;
  border-bottom: 1px solid #102558;
  transition: 0.2s ease;
}
@media (max-width: 1700px) {
  header {
    padding: 0 180px;
  }
  .navbar {
    padding: 10px 180px !important;
  }
}
@media (max-width: 1560px) {
  header {
    padding: 0 150px;
  }
  .navbar {
    padding: 10px 150px !important;
  }
  .menu_ul li a {
    font-size: 14px;
  }
  .dropdown a {
    font-size: 14px;
  }
}
@media (max-width: 1382px) {
  header {
    padding: 0 120px;
  }
  .navbar {
    padding: 10px 120px !important;
  }
  .menu_ul li a {
    font-size: 12px;
  }
  .dropdown a {
    font-size: 12px;
  }
}
@media (max-width: 1177px) {
  header {
    padding: 0 80px;
  }
  .navbar {
    padding: 10px 80px !important;
  }
  .menu_ul li a {
    font-size: 12px;
  }
  .dropdown a {
    font-size: 12px;
  }
}
@media (max-width: 1177px) {
  header {
    padding: 0 10px;
  }
  .navbar {
    padding: 10px !important;
  }
  .menu_ul li a {
    font-size: 12px;
  }
  .dropdown a {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  header {
    padding: 0 20px;
  }
  .btn_menu {
    cursor: pointer;
    font-size: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    opacity: 0;
    width: 100%;
    background-color: #1f3c88;
    flex-direction: column;
    text-align: center;
    padding: 0 !important;
    line-height: 30px;
    padding: 20px !important;
  }

  .dropdown-menu ul li a {
    text-align: center;
  }
  .navbar_active {
    height: auto;
    opacity: 1;
    z-index: 1;
  }
  .dropdown ul {
    border: 1px solid #153075;
  }
}
