.theme {
    margin-top: 12%;
    text-align: center;
  }
  
  .themeTitle {
    color: #1f3c88;
  }
  
  .themeWrapper {
    margin: 50px 100px;
  }
  
  .themeTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  .themeTable tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  
  .themeTable th,
  .themeTable td {
    padding: 0.625em;
    text-align: center;
  }
  
  .themeTable th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  .themeTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    .theme {
      margin-top: 28%;
    }
  
    .themeWrapper {
      margin: 0 10px;
    }
  
    .themeTable {
      border: 0;
    }
  
    .themeTable thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .themeTable tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
  
    .themeTable td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    .themeTable td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .themeTable td:last-child {
      border-bottom: 0;
    }
  }
  
  /* modal style */
  
  .modalTitle {
    color: #092158;
    margin-bottom: 20px;
  }
  
  .InputField {
    margin-top: 10px;
  }
  
  .InputField input {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #5b5e64;
  }
  
  .modalButton {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .modalButton button {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
  